__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
*.key
*.bak
*.swp
data.json
user_in.txt
override.txt
.vscode/
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
